@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
body {
  background-color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

.main {
  background-color: #343a40;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.sign {
  color: #03d6d2;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  margin-top: 0%;
  padding-top: 0%;
  font-size: 20px;
}
.authImgDivLeft {
  width: 100%;
  position: relative;
  bottom: 220px;
}
.authImgLeft {
  position: relative;
  float: left;
  width: 34%;
  height: 40%;
}
.authImgDivRight {
  width: 100%;
  position: relative;
  bottom: 150px;
}
.authImgRight {
  position: relative;
  display: block;
  float: right;
  width: 34%;
  height: 40%;
}
.logo {
  padding-left: 30%;
  width: auto;
  height: 40%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.smallLogo {
  height: 90px;
  width: auto;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.avatar {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  text-align: right;
}
.personalInformation {
  position: relative;
  padding-top: 10%;
  display: block;
  float: right;
  width: 34%;
  height: 40%;
}

/* Post */
.post-box {
  font-size: 18px;
  padding: 10px;
  position: relative;
}
.post-input {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  padding: 20px 12px;
  outline: none;
  width: 100%;
}
.text-count {
  float: right;
  padding: 18px 14px;
}
.post-btn {
  background-color: #03d6d2;
  border: 1px solid #eee;
  border-radius: 10px;
  color: #fefefe;
  font-size: 18px;
  float: right;
  margin-top: 10px;
  padding: 10px 25px;
}
.post-btn:hover {
  background-color: #333;
}
.post-btn.active {
  background-color: #008cff;
  cursor: pointer;
}

.createPostImgDiv {
  width: 375px;
  height: 375px;
  padding-left: 30%;
  position: relative;
  text-align: center;
}

.createPost {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
}
.future-cop {
  position: relative;
  margin-top: 300px;
  text-align: center;
}

.future {
  position: relative;
  left: 0;
  top: -230px;
  font-family: "Mr Dafoe", cursive;
  font-size: 150px;
  margin-top: 160px;
  margin-bottom: 0;
  color: #02d6d2;
  -webkit-text-fill-color: #78f0ee;
  text-shadow: -2px -2px 0 #02d6d2;
  -webkit-filter: drop-shadow(3px 3px 1px #441f62);
  -webkit-transform: skew(-2.5deg, -2.5deg);
  font-weight: normal;
  z-index: 2;
  margin-left: 60px;
  padding-left: 50px;
  padding-right: 70px;
  background-color: black;
}

.cop {
  position: relative;
  font-family: "Monoton", cursive;
  font-size: 200px;
  line-height: 1;
  margin: 0;
  margin-top: -95px;
  padding-left: 80px;
  /* font-weight: normal; */
  background-image: -webkit-linear-gradient(
    #022486 0%,
    #0ad0fd 30%,
    #bdfcfc 40%,
    #d8ffff 44%,
    #00081c 44%,
    #00081c 50%,
    #074a67 52%,
    #1cd8fe 60%,
    #7fedfe 62%,
    #96f5fc 70%,
    #0fd8fa 73%,
    #0bd2fd 88%,
    #affdff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.mac .cop {
  font-weight: 400;
}

.cop:before {
  position: absolute;
  content: "";
  left: 51px;
  top: 74px;
  width: 80px;
  height: 3px;
  background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
  z-index: 4;
  -webkit-animation-name: cop_before_effect;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.cop:after {
  position: absolute;
  content: "";
  left: 90px;
  top: 32px;
  width: 3px;
  height: 80px;
  background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
  z-index: 4;
  -webkit-animation-name: cop_after_effect;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes chrome_effect {
  0% {
    background-position: -680px 0;
  }
  10% {
    background-position: 420px 0;
  }
  100% {
    background-position: 420px 0;
  }
}

@-webkit-keyframes cop_before_effect {
  0% {
    left: 51px;
    top: 74px;
    opacity: 0;
  }

  15% {
    left: 51px;
    top: 74px;
    opacity: 1;
  }

  30% {
    left: 51px;
    top: 74px;
    opacity: 0;
  }

  35% {
    left: 370px;
    top: 45px;
    opacity: 0;
  }

  50% {
    left: 370px;
    top: 45px;
    opacity: 1;
  }

  65% {
    left: 370px;
    top: 45px;
    opacity: 0;
  }

  70% {
    left: 564px;
    top: 74px;
    opacity: 0;
  }

  85% {
    left: 564px;
    top: 74px;
    opacity: 1;
  }

  100% {
    left: 564px;
    top: 74px;
    opacity: 0;
  }
}

@-webkit-keyframes cop_after_effect {
  0% {
    left: 90px;
    top: 32px;
    opacity: 0;
  }

  15% {
    left: 90px;
    top: 32px;
    opacity: 1;
  }

  30% {
    left: 90px;
    top: 32px;
    opacity: 0;
  }

  35% {
    left: 413px;
    top: 11px;
    opacity: 0;
  }

  50% {
    left: 413px;
    top: 11px;
    opacity: 1;
  }

  65% {
    left: 413px;
    top: 11px;
    opacity: 0;
  }

  70% {
    left: 603px;
    top: 32px;
    opacity: 0;
  }

  85% {
    left: 603px;
    top: 32px;
    opacity: 1;
  }

  100% {
    left: 603px;
    top: 32px;
    opacity: 0;
  }
}

.DeleteContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
}
.Delete {
  margin: 1.5%;
  background-color: #a0e1e0;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
}
.danger {
  background-color: whitesmoke;
  color: red;
  font-weight: bold;
} /* Red */
.danger:hover {
  background: #da190b;
  color: white;
  font-weight: bold;
}
.adBtn {
  background-color: #03d6d2;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  width: 100%;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.adBtn:hover {
  background-color: #343a40;
}

#userTitle {
  font-family: "Archivo", sans-serif;
}

.profileContainer {
  font-family: "Archivo", sans-serif;
}

.masterProfileContainer {
  margin: 5%;
  width: 50%;
  padding: 1rem 2rem;
  border: 3px solid #333333;
  font-size: 2rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  float: left;
}
/* .masterProfileContainer::before {
  content: "";
  border: 2px solid #353535;
  display: block;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
} */

.contactUsContainer {
  background-image: linear-gradient(
    109.6deg,
    rgba(121, 203, 202, 1) 11.2%,
    rgba(119, 161, 211, 1) 91.1%
  );
  font-family: "Archivo", sans-serif;

  font-size: 3rem;
  border-radius: 0px 0px 40px 40px;
  color: white;
  padding: 120px 150px 80px 150px;
  text-align: center;
}

.contactForm {
  box-shadow: 10px 10px 5px grey;
  max-width: 100%;
  max-height: 100%;
  contain: content;
  padding: 3%;
}

.masterDivSignout {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.signOutTextContainer {
  float: left;
  max-width: 50%;
  max-height: 80%;
  contain: content;
  font-family: Arial, Helvetica, ‘sans-serif’;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  color: #333333;
  padding-top: 5%;
}

.signoutBtn {
  padding: 2%;
  background-color: #02d6d2;
  border: 2px solid #333333;
  border-radius: 12px;
  font-size: 0.5em;
  font-weight: 500;
}

.signoutBtn:hover {
  background-color: #333;
  color: white;
}

.signOutPicContainer {
  float: right;
  max-width: 50%;
  max-height: 80%;
  contain: content;
}

#picContainer {
  float: right;
}
